/*   Primary Color   */
$light-yellow: #eebf63;
$skyBlue: #90c0e8;
$light-algaeBlue: #6fc2c5;
$dark-yellow: #cd921e;
$blueGrey: #486074;
$algaeBlue: #386163;

/*   Terciary Color   */
$black: #1b1b1b;
$light-black: #2f2f2f;
$grey: #828282;
$light-grey: #e1e1e1;
$very-light-grey: #f1f1f1;
$white: #ffffff;

/*   Corner Radius   */
$br-10: 10px;
$br-20: 20px;
$br-25: 25px;
$br-30: 30px;
$br-45: 45px;

/*    Font Size     */
$size-18: 18px;
$size-24: 24px;
$size-32: 32px;
$size-36: 36px;
$size-48: 48px;
