@import "_variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $black;
  color: $very-light-grey;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

a {
  color: $white;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}
